* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(./img/bg.jpg);
}
header {
  font-family: 'Arial';
  font-size: 16px;
  text-align: center;
  margin: auto;
  padding: 1%;
}
img {
  width: 10%;
}
#form {
  text-align: center;
}
label {
  font-family: arial;
  font-size: 20px;
}
